* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-ball {
  background-color: #e77;
}

.ball-box {
  width: 700px;
  border: 2px solid #000;
  border-radius: 50px;
  margin: auto;
}

.ball-move {
  display: block;
  width: 100%;
}

.ball-checkbox {
  display: none;
}

.ball-image {
  width: 100px;
  cursor: pointer;
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ball-checkbox:checked ~ .ball-image {
  transform: translateX(600px);
}

/* ^^^^^ ball */

.animation-blower {
  background-color: #7e7;
  display: flex;
}

.blower-border {
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.blower-image {
  width: 100px;
  transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.blower-image:hover {
  transform: rotate(1080deg);
}

/* ^^^^^ blower */

.animation-subzero {
  background-color: #77e;
  display: flex;
  justify-content: center;
}

.subzero-border {
  border: 2px solid #000;
  width: 70px;
  height: 140px;
  background: url('./images/subzero.jpg') no-repeat 0 0;
  transition: background-position .3s steps(6);
}

.subzero-border:hover {
  background-position: -396px 0;
}

/* ^^^^^ subzero-1 */

.animation-subzero-frame {
  background-color: #77e;
  display: flex;
  justify-content: center;
}

.subzero-border-frame {
  border: 2px solid #000;
  width: 70px;
  height: 140px;
  background: url('./images/subzero.jpg') no-repeat 0 0;
}

.subzero-border-frame:hover {
  animation: subzero .3s step-end infinite alternate;
}

@keyframes subzero {
  from {background-position: 0 0;}
  17% {background-position: -66px 0;}
  34% {background-position: -132px 0;}
  51% {background-position: -198px 0;}
  68% {background-position: -264px 0;}
  85% {background-position: -330px 0;}
  to {background-position: -396px 0;}
}

/* ^^^^^ subzero-2 */
