header {
	display: flex;
    min-height: 12vh;
	justify-content: center;
	align-items: flex-start;
	color: $text_dark_grey;
	width: 100%;
	background-color: $background_side;
	padding-bottom: 2.5rem;
	position: relative;
	border-bottom: 2px solid #fff;
}

.navigation {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: 2rem;
	position: absolute;
	bottom: 0;

	&_button {
		flex-grow: 1;
		font-size: 1.2rem;
		background-color: $vk_dark_blue;
		color: #fff;
		border: 2px solid $vk_dark_blue;
		opacity: .8;
		justify-content: center;

		&:hover {
			opacity: 1;
			border: 2px solid #fff;
		}
	}
}

#header_title {
	text-align: center;
}
