.filter {
  width: 60%;
  margin: auto;
  background-image: $grey_gradient;
  margin-bottom: 2rem;
  position: relative;

  &-button {
    @include button_filter(#777, .4rem, #fff);
    margin: 0 .3rem;

    &:hover {
      background-color: #777;
      color: #fff;
    }
  }
  &-header {
    padding: .5rem;
  }
  &-list {
    display: none;
    padding: .5rem;
  }
}
