

.editor-block {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.main_button {
	@include button_style ($button_back_dark_blue, white);
}

.editor_text-size {
	@include size_text_style ($text_dark_grey);
}

.side-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	color: $text_dark_grey;
	background-color: $background_side;
	transition: all .7s ease-in-out;

	&_title {
		text-align: center;
		text-decoration: underline;
	}
}

.choice-color {
	width: 80%;
	display: flex;
	justify-content: space-between;

	&-option {
		display: inline-block;
	}
}
