.texting-field {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $text_dark_grey;
	padding: 1.5rem .5rem;
	font-size: 1.2rem;

	&_title {
		text-align: center;
	}
	&_value {
		width: 90%;
		margin: 1rem 0 ;
		resize: none;
		border-radius: .5rem;
		font-size: 1.2rem;
	}
	&-size {
		margin-bottom: 1rem;
	}
}
