.authorization {
	width: 100%;
	height: 100%;
	background-color: $background_side;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 4rem;
	display: none;

	&_logo {
		width: 40%;
		max-width: 450px;

		animation: hide_show 2s ease-in-out infinite alternate;
	}
	&-link-block {
		padding-top: 2rem;
	}
	&_button {
		@include button_style ($vk_dark_blue, #fff) {
			padding: .5rem;
		}
	}
}
