.error-page {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #2a5885;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
    z-index: 10;
}

.error_text {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
    text-align: center;
}
